.top-bar {
    font-size: 16px;
    font-weight: bold;
    color: #040404;
    background-color: #ffebeb;
    border-radius: 10px 10px 0 0;
    padding: 10px 0;
    button {
        font-size: 14px;
        color: #cf0a17;
        border: 0;
        background-color: transparent;
    }
}
div[class*=MuiExpansionPanel-root] {
    box-shadow: none;
}