@import 'bootstrap/dist/css/bootstrap.min.css';


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.font-weight-bold {
  font-weight: 700;
}
.divider {
  width: 95%;
  height: 1px;
  background: #E8ECED;
  margin: 13px 0;
}

.sub-title {
  color: #6b727a;
  font-size: 11px;
}
.inner-ring {
  position: relative;
  height: 64px;
  width: 64px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 12%);
  border-radius: 50%;
  transform: translate(22%,22%);
}
.inference-ring {
  position: relative;
  transform: translate(-7%,-68%);
}
.outer-ring {
  position: relative;
  height: 92px;
  width: 92px;
  background-color: #F7F9FA;
  border-radius: 50%;
}
.use-this-model {
  color: #A30640;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}
.use-this-model:hover {
  text-decoration: underline;
}